---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "hero"}}
    {{#if carousel}}
        {{> components/carousel arrows=theme_settings.homepage_show_carousel_arrows}}
    {{/if}}
{{/partial}}

{{#partial "home-fillwidth-page"}}

<div class="main full">
  <div class="container">
    {{#each shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}
    {{#if products.featured}}
        <div class="home-product-section featured">
          {{> components/products/featured products=products.featured columns=theme_settings.homepage_featured_products_column_count}}
        </div>
    {{/if}}
  </div>

  {{> components/ob-custom/ob-video-section}}

  {{> components/ob-custom/ob-we-are-opt7}}

  {{> components/ob-custom/ob-home-two-banner}}

    <div class="container">
      {{#if products.top_sellers}}
          <div class="home-product-section">
              {{> components/products/top products=products.top_sellers columns=theme_settings.homepage_top_products_column_count}}
          </div>
      {{/if}}

      {{#if products.new}}
          <div class="home-product-section">
              {{> components/products/new products=products.new columns=theme_settings.homepage_new_products_column_count}}
          </div>
      {{/if}}
    </div>

    {{#if hide}}
    <div class="home-review-section">
      <div class="container">
        <h2 class="page-heading">The word on the street is...</h2>
        <span class="sub-text">Opt7 is great! Hear what our real customers have to say</span>
      </div>
    </div>
    {{/if}}

    {{> components/ob-custom/ob-home-subscription-form}}

    {{> components/ob-custom/ob-instagram-feed}}

    {{> components/ob-custom/ob-footer-hero-image}}

</div>
{{/partial}}
{{> layout/base}}
