// =============================================================================
// COLORS CUSTOM
// =============================================================================

$theme-primary-fonts: 'Ubuntu', sans-serif;

$color_primary:               #c40000;
$color_secondary:             #000000;
$color_white:                 #ffffff;
$color_common_black:          #262626;
$color_light_black:           #252525;
$color_dark_black:            #333333;
