// =============================================================================
//  Product styling
// =============================================================================

.productCarousel, .productGrid .product {
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }
  .productCarousel-slide {
    padding: 0 20px;
  }
  .card {
    text-align: center;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    @media screen and (max-width: 767px) {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 20px;
    }
    .card-figure {
      .card-img-container {
        max-width: 100%;
        .card-image {
          position: relative;
        }
        &:after {
          display: none;
        }
      }
      .card-figcaption {
        .card-figcaption-body {
          .card-figcaption-button {
            padding: 10px 25px;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 1px;
            background: $color_primary;
            @media screen and (max-width: 1279px) {
              padding: 10px 15px;
            }
            &:hover {
              background: $color_secondary;
            }
            + .card-figcaption-button {
              margin-top: 15px;
            }
          }
        }
      }
    }
    .card-body {
      padding-top: 25px;
      text-align: center;
      p.card-text {
        font-size: 18px;
        color: $color_secondary;
        @media screen and (max-width: 567px) {
          font-size: 15px;
          line-height: normal;
        }
      }
      .card-title {
        letter-spacing: 0;
        margin: 7px 0;
        a {
          font-size: 18px;
          line-height: 24px;
          color: $color_secondary;
          font-weight: 300;
          text-transform: none;
          letter-spacing: 0.25px;
          &:hover {
            color: $color_primary;
          }
          @media screen and (max-width: 1279px) {
            font-size: 18px;
          }
          @media screen and (max-width: 567px) {
            font-size: 15px;
          }
        }
      }
      .card-text {
        .rating--small {
          .icon {
            height: 17px;
            width: 17px;
            margin-left: 1px;
            margin-right: 1px;
            svg {
              fill: $color_primary;
            }
            &.icon--ratingEmpty {
              svg {
                fill: #ccc;
              }
            }
          }
        }
        .price-section {
          font-size: 14px;
          color: $color_secondary;
          font-weight: 500;
          display: inline-block;
          @media screen and (max-width: 1279px) {
            font-size: 16px;
          }
          @media screen and (max-width: 567px) {
            font-size: 15px;
          }
          .price {
            font-size: 18px;
            @media screen and (max-width: 1279px) {
              font-size: 20px;
            }
            @media screen and (max-width: 567px) {
              font-size: 17px;
            }
          }
        }
      }
    }
  }
}
