<div class="top-bar">
  <div class="home-big-container">
    <div class="pencil-banner">
        FREE US SHIPPING OVER $99
    </div>

    <div class="top-bar-right">
      <ul class="clearfix">
        <li class="navUser-item"><a href="#">ABOUT US</a>|</li>
        <li class="navUser-item"><a href="#">BLOG</a>|</li>
        <li class="navUser-item"><a href="#">CUSTOMER SUPPORT</a></li>
      </ul>
    </div>
  </div>
</div>
<header class="header" role="banner">
    <div class="home-big-container">
      <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
          <!-- <span class="mobileMenu-toggleIcon">Toggle menu</span> -->
          <svg class="header-menu-icon"><use xlink:href="#icon-menu-arrow"></use></svg>
      </a>
      {{#if page_type '===' 'default'}}
          <h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
              {{> components/common/store-logo}}
          </h1>
      {{else}}
          <div class="header-logo header-logo--{{theme_settings.logo-position}}">
              {{> components/common/store-logo}}
          </div>
      {{/if}}
      <div class="navPages-container" id="menu" data-menu>
          {{> components/ob-custom/ob-navigation-menu}}
      </div>
      {{> components/ob-custom/ob-navigation}}
      {{{region name="header_bottom"}}}
    </div>
</header>
