<div class="home-video-section">
  <div class="container">
    <div class="app-image">
      <img src="/product_images/uploaded_images/app-img.png" alt="">
    </div>
    <div class="app-content">
      <h2 class="page-heading">NEW! AURA Pro with Bluetooth</h2>
      <span class="sub-text">Now you can adjust your LEDs with a simple touch of a finger</span>
    </div>
    <div class="video-section-image">
      <img src="/product_images/uploaded_images/video-section-bg.png" alt="">
      <a href="javascript:void(0);" class="play-button">PLAY VIDEO</a>
    </div>
  </div>
</div>
