<div class="we-are-opt7">
  <div class="container">
    <div class="we-are-opt-image">
      <img src="/product_images/uploaded_images/we-are-opt-img.jpg" alt="">
    </div>
    <div class="we-are-opt-content">
      <h2 class="page-heading">We are OPT7</h2>
      <span class="sub-text">The #1 leader in automotive lighting & design</span>
      <p>OPT7’s origins all started in a small garage in California. The year is 1998 and Super Street and Import Tuner ruled the street.</p>
      <p>Back in 2006, our CEO and founder (Kevin) noticed that cars and trucks look stunning with aftermarket lights. The sad part was that for some reason the only lights around were either ridiculously expensive (think $1000s) or horribly made.</p>
      <p>That’s when we decided we could do better.</p>
      <a href="/about-us/" class="button learn-more">LEARN MORE</a>
    </div>
  </div>
</div>
